mixin classNo(classes)
	case classes.length
		when 0
			|Super Review
		when 1
			|Class #{classes[0].number}
		when 2
			|Classes #{classes[0].number} &amp; #{classes[1].number}
		default
			|Classes #{classes[0].number} - #{classes.at(-1).number}
