mixin classNo(classes)
	case classes.length
		when 1
			if classes[0].number %1 != 0
				|Super Review
			else
				|Class #{classes[0].number}
		when 2
			|Classes #{classes[0].number} &amp; #{classes[1].number}
		default
			|Classes #{classes[0].number} - #{classes.at(-1).number}
