mixin lessonLinks(links, text)
	if links
		if links.length === 1
			a(href=links[0] target="_blank") #{text}
		else
			each checkin, index in links
				a(href=checkin target="_blank") #{text} #{index + 1}
				if index < links.length - 1
					|&nbsp;|&nbsp;
