include ./classNo.pug

mixin lessonCard(lesson)
	- const hasCheckIn = Boolean(lesson.checkin.length && lesson.checkin[0].length)
	- const isDone = (lesson.watched && (!hasCheckIn || lesson.checkedIn)) || !lesson.videoId;

	.lesson-card.border.relative(class=isDone ? "done" : "" id=lesson._id)
		.card-top-banner.bg-twilight-50.px-3.py-2
			h3.text-twilight-900.text-2xl
				+classNo(lesson.classNo)
				if loggedIn && user.admin
					a.ml-2(href=`/class/edit/${lesson._id}`) #[i.fas.fa-pencil]
			if loggedIn
				.lesson-checks.flex.flex-wrap
					.lesson-watched.mr-6
						if lesson.videoId.length
							input.watched.mr-2(type="checkbox" id="watched-" + lesson._id autocomplete="off" checked=lesson.watched data-lesson=lesson._id)
							label(for="watched-" + lesson._id) Watched
						else
							| No stream
					.lesson-checkedin
						if hasCheckIn
							input.checkedin.mr-2(type="checkbox" id="checkedin-" + lesson._id autocomplete="off" checked=lesson.checkedIn data-lesson=lesson._id)
							label(for="checkedin-" + lesson._id) Checked In
						else
							input.checkedin.hidden(type="checkbox" id="checkedin-" + lesson._id autocomplete="off" checked)
							| No Check In

		.card-main-content.py-4.px-6.mb-12.group
			a(href=`/class/${lesson.permalink}` class="hover:no-underline")
				img.w-full.mb-2(src=lesson.thumbnail class="group-hover:shadow-[0_0_10px_rgba(0,_0,_0,_0.2)]")
				h2(class="group-hover:text-pink-900") #{lesson.title}

			a.absolute.bottom-3(href=`/class/${lesson.permalink}`) More Info
			if lesson.videoId && !lesson.twitchVideo
				a.absolute.bottom-3.right-6.text-right(href=`https://youtu.be/${lesson.videoId}`) Youtube
