extends layouts/default.pug

block variables
	- const action = edit ? "Edit" : "Add"
	- title = `${action} Homework`

block content
	form.add-form(action=edit? `/hw/edit/${homework._id}` : "/hw/add" method="post")
		h1.col-span-4 #{action} Homework
		label(for="number") Class Numbers
		input#number(type="text", name="number" autocomplete="off" value=edit? homework.classNo : "")
		label(for="due") Class Due
		input#due(type="text", name="due" autocomplete="off" value=edit? homework.dueNo : "")
		label(for="submit-link") Submit Link
		input#submit-link(type="text", name="submit" autocomplete="off" value=edit? homework.submit : "")
		label(for="number") Cohort
		input#cohort(type="text", name="cohort" value="2")
		label(for="note") Note
		textarea#note.col-span-3(type="text", name="note") #{edit? homework.note : ""}

		#hw-items.col-span-4
			h2.col-span-2.mb-3 Homework Items
			button#add-hw.col-span-4 Add another item
			.hw-item
				if edit && homework.items.length
					each item, index in homework.items
						- const hwIndex = index + 1
						input(type="hidden", name="hwId" value=item._id id=`hwId-${hwIndex}`)
						label(for=`hw-class-${hwIndex}`) Class Assigned
						input(type="text" name="hwClass" autocomplete="off" id=`hw-class-${hwIndex}` value=item.class)
						.col-span-2
							input.required(type="hidden", name="required" value=item.required? "true" : "false" id=`required-${hwIndex}`)
							input.required-check(type="checkbox" autocomplete="off" id=`required-check-${hwIndex}` checked=item.required)
							label.ml-2(for=`required-check-${hwIndex}`) Required
						label(for=`hw-desc-${hwIndex}`) Description
						textarea.col-span-3(name="hwDesc" autocomplete="off" id=`hw-desc-${hwIndex}`) #{item.description}
				else
					input(type="hidden", name="hwId" value="null" id="hwId-1")
					label(for="hw-class-1") Class Assigned
					input#hw-class-1(type="text" name="hwClass" autocomplete="off")
					.col-span-2
						input#required-1.required(type="hidden", name="required" value="false")
						input#required-check-1.required-check(type="checkbox" autocomplete="off")
						label.ml-2(for="required-check-1") Required
					label(for="hw-desc-1") Description
					textarea#hw-desc-1.col-span-3(name="hwDesc" autocomplete="off")

		#pw-items.col-span-4
			h2.col-span-2.mb-3 Pushwork Items
			button#add-pw.col-span-4 Add another item
			.pw-item
				if edit && homework.extras.length
					each extra, index in homework.extras
						- const pwIndex = index + 1
						input(type="hidden", name="pwId" value=extra._id id=`pwId-${pwIndex}`)
						label(for=`pw-class-${pwIndex}`) Class Assigned
						input(type="text" name="pwClass" autocomplete="off" id=`pw-class-${pwIndex}` value=extra.class)
						.col-span-2
						label(for=`pw-desc-${pwIndex}`) Description
						textarea.col-span-3(name="pwDesc" autocomplete="off" id=`pw-desc-${pwIndex}`) #{extra.description}
				else
					input(type="hidden", name="pwId" value="null" id="pwId-1")
					label(for="pw-class-1") Class Assigned
					input#pw-class-1(type="text" name="pwClass" autocomplete="off")
					.col-span-2
					label(for="pw-desc-1") Description
					textarea#pw-desc-1.col-span-3(name="pwDesc" autocomplete="off")
		.col-span-4.mt-3.text-center
			button(class="btn primary max-w-1/3 mx-auto" type="submit") #{action} Homework

append scripts
	script(src="/js/addHomework.js")
