extends layouts/default.pug

block variables
	- const title = "Classes"

block content
	if (!loggedIn)
		div YOU ARE NOT CURRENTLY LOGGED IN. If you would like to track your progress, please #[a(href="/login") log in] or #[a(href="/register") register] before continuing.

	h1 All Classes

	table
		thead
			tr
				th Class
				if (loggedIn)
					th Done
				th Video
				th Check In
		tbody
			each lesson in lessons
				tr
					td #{lesson.classNo}
					if (loggedIn)
						td
							label(for=lesson.classNo + "-watched")
								input(type="checkbox" id=lesson.classNo + "-watched") 
								| Watched
							br
							label(for=lesson.classNo + "-checkedin")
								input(type="checkbox" id=lesson.classNo + "-checkedin")
								| Checked In
					td 
						a(href=lesson.permalink)
							img(src=lesson.thumbnail width=200)
							| #{lesson.title}
					td 
						a(href=lesson.checkin) Check In