extends layouts/default.pug
include ./mixins/lessonCard.pug

block variables
	- title = "Classes"
	- active = "Classes"

block content
	if !loggedIn
		include ./partials/flash-nologin.pug

	h1.mb-4 Filter Results


	#tags
		h3.mt-2.mb-2 Filters Available:
		.flex.flex-wrap.mb-4
			each tag in allTags || []
				button.text-xs.m-1(
					type="button"
					value=tag._id
					data-id=tag._id
					class=`filter-tag px-2 py-1 rounded ${
					selectedTags && selectedTags.includes(tag._id) ? "outline outline-1 outline-pink-800 bg-pink-800 text-white" : "outline outline-1 text-pink-800"
				}`) #{tag._id} (#{tag.count})
		
		button.mr-1.text-xs.mb-1(
			type="button"
			id="filter-tag-clear"
			class=`px-2 py-1 rounded bg-pink-800 text-white`) Clear Filters

	h3.mt-2.mb-4 Results: #{lessons.length}

	#lessons.grid.gap-y-12.gap-x-16(class="sm:gap-y-24 grid-cols-[repeat(auto-fill,_minmax(285px,_1fr))]")
		each lesson in lessons
			+lessonCard(lesson)

	include ./partials/to-top.pug

append scripts
	script(src="/js/filterTags.js")
	if loggedIn
		script(src="/js/lessonProgress.js")
		script(src="/js/lessonDone.js")
