extends layouts/default.pug

block variables
	- const title = lesson.title
	- const watched = lesson.watched ? "checked" : ""

block content
	if (!loggedIn)
		.flash.flash-error YOU ARE NOT CURRENTLY LOGGED IN. If you would like to track your progress, please #[a(href="/login") log in] or #[a(href="/register") register] before continuing.
	h1.mb-4.text-center #{lesson.classNo[0] ? `Class ${lesson.classNo.join(', ')}` : "Super Review" }: #{lesson.title} 
		if (loggedIn && user.admin) 
			a(href=`/class/edit/${lesson._id}`)
				i.fa.fa-pencil
	h3.mb-4.text-center.border-b.pb-4 #{`${lesson.dates.map(date => date.toLocaleDateString('en-US', {day: "numeric", month: "short", year: "numeric"})).join(' / ')}`}
	#video-container.text-center.mx-auto
		if (loggedIn)
			h3 
				if (lesson.videoId.length)
					input.watched.mr-2(type="checkbox" id="watched-" + lesson._id autocomplete="off" checked=lesson.watched) 
					label.mr-4(for="watched-" + lesson._id) Watched
				if (lesson.checkin.length && lesson.checkin[0].length)
					input.checkedin.mr-2(type="checkbox" id="checkedin-" + lesson._id autocomplete="off" checked=lesson.checkedIn)
					label(for="checkedin-" + lesson._id) Checked In
		h3.mb-3
			if (lesson.slides.length)
				if (lesson.slides.length > 1) 
					each slide, index in lesson.slides
						| #[a(href=slide target="_blank") Slides #{index + 1}] | 
				else if (lesson.slides[0].length)
					| #[a(href=lesson.slides[0] target="_blank") Slides] | 				
			if (lesson.materials)
				| #[a(href=lesson.materials  target="_blank") Follow-Along Materials] |
			if (lesson.checkin.length)
				if (lesson.checkin.length > 1) 
					each checkin, index in lesson.checkin
						| &nbsp; #[a(href=checkin target="_blank") Check In #{index + 1}] &nbsp;
						if (index < lesson.checkin.length - 1) 
							| |
				else if (lesson.checkin[0].length)
					| &nbsp; #[a(href=lesson.checkin[0] target="_blank") Check In]
			if lesson.note 
				h3.mb-3 #{lesson.note}
		#player
			if (!lesson.videoId)
				img(src="/img/thumbnails/no-stream-lg.png")
		.flex
			.flex-1
				if (prev)
					h2.text-left
						a(href="/class/" + prev) Previous Class
			.flex-1.text-center
				h2
					a(href="/class/all") Class List
			.flex-1.text-right
				if (next)
					h2
						a(href="/class/" + next) Next Class
	if assigned.length
		h3.text-center.mb-3.mt-6.text-3xl Homework Assigned
		include ./partials/mixins.pug
		+hwtable(assigned)
	if due.length
		h3.text-center.mb-3.mt-6.text-3xl Homework Due
		include ./partials/mixins.pug
		+hwtable(due)

block extra-scripts
	script(src="/js/lessonProgress.js")
	if (lesson.videoId)
		script. 
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
			var player;
			function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
					videoId: '#{lesson.videoId}',
				});
			}
			function setCurrentTime(slideNum) {
				var object = [ 0, 320 ];
				player.seekTo(object[slideNum]);
			}
		