extends layouts/default.pug

block variables
	- const title = lesson.title
	- active = "Classes"
	- const watched = lesson.watched ? "checked" : ""

block content
	if (!loggedIn)
		.flash.flash-error YOU ARE NOT CURRENTLY LOGGED IN. If you would like to track your progress, please #[a(href="/login") log in] or #[a(href="/register") register] before continuing.
	div(class="sm:flex block justify-between items-baseline")
		h1(class="mb-2 sm:mb-4 text-center sm:text-left") #{lesson.classNo[0] ? `Class ${lesson.classNo.join(', ')}` : "Super Review" }: #{lesson.title}
			if (loggedIn && user.admin)
				a(href=`/class/edit/${lesson._id}`)
					i.fa.fa-pencil
		h3(class="mb-4 text-center sm:text-left text-twilight-800 whitespace-nowrap")   #{`${lesson.dates.map(date => date.toLocaleDateString('en-US', {day: "numeric", month: "short", year: "numeric"})).join(' / ')}`}
	if lesson.note
		p(class="mb-3 text-center sm:text-left") !{lesson.note}

	#video-container(class="block text-center sm:text-left mx-auto sm:grid grid-cols-3 gap-10 items-center")
		#video.col-span-2
			#player
				if (!lesson.videoId)
					img(src="/img/thumbnails/no-stream-lg.png")
			.flex
				.flex-1
					if (prev)
						h3.text-left
							a(href="/class/" + prev) Previous Class
				.flex-1.text-center
					h3
						a(href="/class/all") Class List
				.flex-1.text-right
					if (next)
						h3
							a(href="/class/" + next) Next Class
		#info
			if (loggedIn)
				h3.flex.flex-wrap
					if (lesson.videoId.length)

					label.mr-4(for="watched-" + lesson._id)
						input.watched.mr-2(type="checkbox" id="watched-" + lesson._id autocomplete="off" checked=lesson.watched)
						| Watched

					if (lesson.checkin.length && lesson.checkin[0].length)
						label(for="checkedin-" + lesson._id)
							input.checkedin.mr-2(type="checkbox" id="checkedin-" + lesson._id autocomplete="off" checked=lesson.checkedIn)
							| Checked In
			.mb-3(class="mt-3")
				if (lesson.checkin.length)
					if (lesson.checkin.length > 1)
						p
							each checkin, index in lesson.checkin
								| #[a(href=checkin target="_blank") Check In #{index + 1}]
								if (index < lesson.checkin.length - 1)
									span &nbsp;|&nbsp;
					else if (lesson.checkin[0].length)
						p #[a(href=lesson.checkin[0] target="_blank") Check In]
				if (lesson.materials)
					p #[a(href=lesson.materials  target="_blank") Follow-Along Materials]
				if (lesson.slides.length)
					if (lesson.slides.length > 1)
						p
							each slide, index in lesson.slides
								| #[a(href=slide target="_blank") Slides #{index + 1}]
								if (index < lesson.slides.length - 1)
									span &nbsp;|&nbsp;
					else if (lesson.slides[0].length)
						p #[a(href=lesson.slides[0] target="_blank") Slides]
	if !lesson.twitchVideo
		h3.mt-8 Feed the algorithm and spread the word!
		p #[a(href=`https://www.youtube.com/watch?v=${lesson.videoId}` target="_blank") Like, comment and subscribe on Youtube]
	if assigned.length
		h2.mt-10.mb-3 Homework Assigned
		include ./partials/mixins.pug
		+hwtable(assigned)
	if due.length
		h2.mt-10.mb-3 Homework Due
		include ./partials/mixins.pug
		+hwtable(due)
	//- .lesson-tab.notes(title="Take notes")
	//- 	i.fa.fa-pencil
	//- .lesson-tab.timestamps(title="Timestamps")
	//- 	i.fa.fa-clock
	//- .side-panel Test Content

block extra-scripts
	if loggedIn
		script(src="/js/hwDone.js")
		script(src="/js/hwProgress.js")
		script(src="/js/lessonProgress.js")
	if lesson.videoId && !lesson.twitchVideo
		script.
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
			var player;
			function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
					videoId: '#{lesson.videoId}',
				});
			}
			//- function setCurrentTime(slideNum) {
			//- 	var object = [ 0, 320 ];
			//- 	player.seekTo(object[slideNum]);
			//- }
	else if lesson.twitchVideo
		script(src="https://player.twitch.tv/js/embed/v1.js")
		script.
			new Twitch.Player("player", {
				video: '#{lesson.videoId}',
				width: "100%",
				height: "100%"
			});
