extends ../_layouts/default.pug
include ../_mixins/lessonFormFields.pug

block variables
  - const action = edit ? "Edit" : "Add"
  - title = `${action} Class`

block content
  form.add-form(action=edit? `/class/edit/${lesson._id}` : "/class/add" method="post")
    h1 #{action} Class
    .selects.w-full.flex.justify-between
      div
        label(for="videoType") Video Type
        select#videoType(name="videoType")
          option(value="youtube") YouTube
          option(value="twitch") Twitch
          option(value="none") No Video
      div
        label(for="cohort") Cohort
        select#cohort(name="cohort")
          option(value="2") 2
          option(value="3") 3

    +multiInputPair("classes", "number", "Class Number", "date", "Class Date")

    .grid.gap-4(class="grid-cols-[1fr_2fr]")
      +input("videoId", "Video ID")
      +input("thumbnail", "Thumbnail")

    +input("title", "Class Name")
    //- .mb-3.text-sm(class="-mt-2") PERMALINK: #{lesson.permalink} #[i.fas.fa-pencil]
    +input("permalink", "Class Permalink")

    +multiInput("slides", "Slides")
    +multiInput("materials", "Materials")
    +multiInput("checkins", "Checkins")

    +inputPair("motivation", "title", "Motivation Title", "link", "Motivation Link")

    +input("note", "Note", false)

    h2.mt-6 Timestamps
    +multiInputPair("timestamps", "title", "Timestamp Name", "time", "Time")

    .mt-3
      button(class="btn primary max-w-1/3 mx-auto" type="submit") #{action} Class


append scripts
  script(src="/js/addLesson.js")
