extends ../layouts/default.pug

block variables
  - title = "100Devs Community Projects"
  - active = "Community Projects"



block content
  h1 100Devs Community Projects

  h3 Projects created by the 100Devs Community for the community.
  p Note: These projects are not officially endorsed by 100Devs or Leon Noel. They are created by community members for the community. This list is provided as a resource for folx to discover projects that may be helpful to them or that they may want to contribute to.
  p If you have a project you'd like to add to this list, please make a pull request in the&nbsp;
    a(href="https://github.com/labrocadabro/communitytaught") repo.


    if communityProjects && communityProjects.projects && communityProjects.projects.length
        #card-container
            each project in communityProjects.projects || []
                .card.mb-4
                    h3.flex.justify-center.items-center.mt-4 #{project.title}
                    span.text-center #{project.description}
                    a(href=`${project.link}`) Link to app
                    a(href=`${project.repo}`) Link to repository
                    span.text-center #{project.pointOfContact}
