- let title = "100Devs Progress Tracker"
- let description = "A comprehensive way to keep track of your 100Devs classes and assignments."
- let previewImg = "https://communitytaught.org/img/resources/communitytaught-preview.png"
- let active = ""

block variables

doctype html
html.scroll-smooth(lang='en')
	head
		title=title
		meta(name="description" content=description)
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:creator" content="@labrocadabro")
		meta(name="twitter:title" content=title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:image" content=previewImg)
		meta(property="og:title" content=title)
		meta(property="og:type" content="website")
		meta(property="og:url" content=`https://communitytaught.org${current_url}`)
		meta(property="og:image" content=previewImg)
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png")
		link(rel="icon" type="image/x-icon" href="/img/fav/favicon.ico")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orienta&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="/css/fa-free.css")
		link(rel="stylesheet" href="/css/fa-brands.css")
		link(rel="stylesheet" href="/css/index.css")

		include ../partials/header.pug

		main(class="px-5 sm:px-8 lg:px-14 py-4 sm:py-8")
			include ../partials/flash.pug
			block content

		include ../partials/footer.pug


		block scripts
			script(src="/js/main.js")
